body {
  background-color: #666;
  padding: 1%;
  font-family: Helvetica;
}
.header {
  padding: 1px;
  background-color: #bebebe;
  position: center;
  color: white;
  text-align: center;
}
#title {
  margin: 10px;
}

.body {
  position: relative;
  top: 0%;
  background-color: #777;
  padding: 20px;
}
.navbar {
  position: relative;
  left: 0%;
  top: 0%;
  float: left;
}
.navbar h3 {
  margin: 5px;
}
.navbar ul {
  color: white;
  list-style-type: none;
  padding-left: 5px;
}
.navbar li {
  margin-top: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.content_block {
  position: relative;
  right: 0%;
  left: 10%;
  top: 0%;
}

.footer {
  position: center;
  text-align: right;
  color: #6d6d6d;
  background-color: #565656;
  padding: 7px;
}
