{% extends "base.html" %}

{% block body %}
<div class="container w-50 rounded">
  <br />
  <h3>Hollywood Movies</h3>
  <form action="/movies" method="GET">
    <div class="form-group w-25">
      <div class="form-check">
	<input class="form-check-input" type="radio" name="request_type" id="performer" value="performer" checked>
	<label class="form-check-label" for="performer">
	  Search by Performer Name
	</label>
      </div>
      <div class="form-check">
	<input class="form-check-input" type="radio" name="request_type" id="genre" value="genre">
	<label class="form-check-label" for="genre">
	  Search by Genre
	</label>
      </div>
      <div class="form-check">
	<input class="form-check-input" type="radio" name="request_type" id="year" value="year">
	<label class="form-check-label" for="year">
	  Search by Release Year
	</label>
      </div>
    </div>
    <div class="form-group">
      <label for="query">Search Query</label>
      <input class="form-control" id="query" name="query" type="text" />
    </div>
    <br />
    <button type="submit" class="btn btn-info" name="return_data">Request Data</button>
  </form>
</div>
{% if display_data %}

<div class="container w-50 rounded">
  <hr />
  <h4> Query Results: </h4>
</div>
{% endif %}

{% endblock %}
