{% extends "base.html" %}

{% block title %}Meteorites{% endblock %}

{% block body %}

<div class="container container-fluid">
  <br />
  <h3>Meteorite Data</h3>
  <p class="lead">Data about Earth's meteorite landings, provided by NASA</p>
  <form action="/meteorites" method="GET">
    <div class="row">
      <div class="col-sm">
	<div class="card">
	  <div class="card-header">Search by First Letter</div>
	  <div class="form-group">
	    <input class="form-control" type="text" name="first-letter" placeholder="First Letter">
	    <button type="submit" class="btn btn-info" name="return_data" value="name">Request Data</button>
	  </div>
	</div>
      </div>
      <div class="col-sm">
	<div class="card">
	  <div class="card-header">Search by Mass</div>
	  <div class="form-group">
	    <input class="form-control" type="number" name="close-mass" placeholder="Mass (kg)">
	    <button type="submit" class="btn btn-info" name="return_data" value="mass">Request Data</button>
	  </div>
	</div>
      </div>
      <div class="col-sm">
	<div class="card">
	  <div class="card-header">Search by Minimum Mass</div>
	  <div class="form-group">
	    <input class="form-control" type="number" name="min-mass" placeholder="Mass (kg)">
	    <button type="submit" class="btn btn-info" name="return_data" value="biggest">Request Data</button>
	  </div>
	</div>
      </div>
      <div class="col-sm">
	<div class="card">
	  <div class="card-header">Search by Year Landed</div>
	  <div class="form-group">
	    <input class="form-control" type="number" name="year-landed" placeholder="Year">
	    <button type="submit" class="btn btn-info" name="return_data" value="year">Request Data</button>
	  </div>
	</div>
      </div>
      <div class="col-sm h-100">
	<div class="card">
	  <div class="card-header">Search by Distance from Equator</div>
	  <div class="form-group">
	    <input class="form-control" type="number" name="latitude" placeholder="Latitude">
	    <button type="submit" class="btn btn-info" name="return_data" value="lat">Request Data</button>
	  </div>
	</div>
      </div>
    </div>
  </form>
</div>

{% if display_data %}

<div class="container w-50">
  <hr />
  {% if rocks %}
  <h4> Query Results: </h4>
  <ul class="list-group">
  {% for rock in rocks %}
  <li class="list-group-item lead">
    <span class="font-weight-bold">{{rock.name}}</span>
    -
    {{rock.mass}} kg
    -
    at ({{rock.reclat}}N,{{rock.reclong}}E)
    -
    in {{rock.year[:4]}}
  </li>
  {% endfor %}
  </ul>
  {% else %}
  <p class="lead">No query results found. Please check spelling/values and try again.</p>
  {% endif %}
</div>

{% endif %}
{% endblock %}
