<!-- #Ayham Alnasser, Kiran Vuksanaj & Vishwaa Sofat (Save the Turtles)
#SoftDev pd1
#K16 - Do I Know You?
#2019-10-2 !-->

{% extends "template.html" %}
{% block title %}
Log in!
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }} <br>
    {% endfor %}
  {% endif %}
{% endwith %}
<form action = "/login" method = "POST">
  Username: <input type = "text" name = "username"> <br>
  Password: <input type = "password" name = "password"> <br>
  <input type = "submit" name = "sub" value="login">
</form>
{% endblock %}
