<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | Save the Turtles</title>
  <body>
      {% block header %}
        <h2>Period 1 SoftDev</h2>
        <h1>Ayham Alnasser, Kiran Vuksanaj, & Vishwaa Sofat (Save the Turtles)</h1>
        <h2>K16 - Oh yes, perhaps I do...</h2>
        <p>Jinja website demonstrating login/logout features including inheritance and alert messages</p>
      {% endblock %}
      <br />
      {% block body %}{% endblock %}<br />
      {% block footer %}
        <p>Copyright &copy; Save The Turtles 2019</p>
      {% endblock %}
  </body>
</html>
